body {
    background-color: antiquewhite;
    max-width: 1300px;
    margin: 0 auto;
}
.logowrap img{
    width: 180px;
    padding: 20px;
}
.masthead {
    display: flex;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    color: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #04AA6D;
    color: white;
}

.imagewrap {
    display: flex;
    flex-wrap: wrap;
}

.imagewrap img{
    width:1000px;
    padding: 20px;
}

/* // tells the browser to make this image on top */
.image-stack__item--top {
    width: 66%;
    margin: 15%;
    margin: 9vh 90vw -183vh 12vw;
    z-index: 2;
}

.image-stack__item--second {
    width: 100%;
    height:100%;
    margin: 25vh 100vw -170vh 15vw;
    transform: rotate(-6deg);
    z-index: 1;
}

.image-stack__item--third {
    width: 55%;
    height: 60%;
    margin: 30vh 15vw;
    transform: rotate(-15deg);
    z-index: 0;
}

.image-stack__item--fourth {
    width: 55%;
    height: 50%;
    margin: -156vh 16vw;
    transform: rotate(-22deg);
    z-index: -1;
}