html{
    background:url(../images/Background.png) no-repeat;
    background-size: cover;
}

body{
    display: flex;
    justify-content: center;
}

.maincard{
    max-width: 400px;
    position: relative;
    top:10%;
    bottom:10%;
}

.mainhead{
    background: #4242fd url(../images/Pattern.png) no-repeat;
    background-size: cover;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-wrap: wrap;
}

.mainhead h1{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 2em;
    color: white;
    max-width:350px;
    text-align: center;
    padding-top: 43px;
    margin:0 auto;
    line-height: 40px;
}

.undercard{
    height: 300px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    padding:20px;
}

.undercard h2,
.subcon p,
.job,
.quote{
    color:gray;
}

.testimonial{
    padding-top: 10px;
}

.job{
    font-size: 0.800em;
}

.profilename{
    padding: 8px;
}

.quote {
    text-align: center;
    padding-top: 10px;
}

h2 {
    text-align: center;
    line-height: 20px;;
}

.form {
    padding-top:20px;
    padding-bottom: 10px;
    max-width: 400px;
    margin: 0 auto;
}

input {
    height:30px;
    border: 1px solid #ededed;
    border-radius: 5px;
    background-color: #f6f6f6;
    width:220px;
}

button{
    font-family: 'Roboto';
    color: #f6f6f6;
    font-size: 15px;
    background-color: #4242fd;
    border:none;
    border-radius: 5px;
    height:32px;
    width:90px;
    cursor: pointer;
}

.profile{
    padding-top: 30px;
    display: flex;
    margin:0 91px;
}

@media screen and (min-width:400px) {
    button{
        font-family: 'Roboto';
        color: #f6f6f6;
        font-size: 15px;
        background-color: #4242fd;
        border:none;
        border-radius: 5px;
        height:32px;
        width:115px;
        cursor: pointer;
    }
}

@media screen and (max-width:1024px) {

    body{
        background-image: url(../images/Background.png) no-repeat;
        height:105vh;
    }
    
}
